- var css = require('./introduction-css.json');

section(class=css.host)
  p(class=css.description)
    span(class=css.big) #[span(class=css.yellow) 1]#[span(class=css.green) 0]#[span(class=css.yellow) 0]#[span(class=css.green) 5]
    | Frontenders responderam essa pesquisa

