- var css = require('./welcome-css.json');

header(class=css.host role='banner')
  div(class=css.header)
    span(class=css.subtitle) Survey 2018
    h1(class=css.title) Front-End #[span(class=css.green) Bra]#[span(class=css.yellow) sil]
    p(class=css.description) Pesquisa de mercado realizada entre frontenders do Brasil
    nav(class=css.actions)
      a(class=css.link href='https://www.felipefialho.com/survey/2014' title='Ver edição 2014') Survey 2014
      span |
      a(class=css.link href='https://www.felipefialho.com/survey' title='Ver edição 2016') Survey 2016

